  <div class="col-md-4 offset-md-4">
    <%= form_with(model: @item, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <div class="form-group pt-4 pd-3">
        <p><label for="form-file">商品画像</label></p>
        <p>クリックしてファイルをアップロード</p>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="form-group pt-4 pd-3">
        <label for="name">商品名</label>
        <%= f.text_field :name, class: "form-control", placeholder: "商品名 (必須 20文字まで)", maxlength: "20" %>
      </div>
      <div class="form-group pt-4 pd-3">
        <label for="text">商品の説明</label>
        <%= f.text_area :text, class: "form-control", rows: 5, placeholder: "商品の説明(必須 256文字まで)", maxlength: "256" %>
      </div>
      <div class="form-group pt-4 pd-3">
        <label for="category">商品のカテゴリー</label>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: "form-control"})  %>
      </div>
      <div class="form-group pt-4 pd-3 col-md-4">
        <label for="price">価格(税込)</label>
        <p><%= f.text_field :price, class: "form-control", placeholder: "例)280" %><p>
      </div>
      <div class="form-group pt-4 pd-3 col-md-4">
        <label for="stock">在庫</label>
        <p><%= f.text_field :stock, class: "form-control", placeholder: "例)2" %><p>
      </div>
      <div class="text-center mb-3">
      <%= f.submit "登録する", class: "btn btn-outline-secondary" %>
      <%= link_to "戻る", root_path, class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>