<div class="card mt-2" style="width: 44rem;">
  <%= image_tag @item.image, class:"card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= @item.name %></h5>
    <p class="card-text"><small>¥<%= @item.price %>(税込)</small></p>
    <p class="card-text"><%= simple_format(@item.text) %></p>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "編集する", edit_item_path(@item.id), class: "btn btn-sm btn-outline-secondary" %>
    <%= link_to "削除する", item_path(@item.id), method: :delete, class: "btn btn-sm btn-outline-secondary" %>
  <% else %>
    <% if user_signed_in? %>
      <%= link_to "カートに入れる", item_add_to_carts_path(@item.id), method: :post, class: "btn btn-outline-secondary btn-sm" %>  
    <% end %>
  <% end %>
  </div>
</div>